@model IEnumerable<UMateModel.Entities.UMateBoard.LectureReview>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LectureInfoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupMeeting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evaluation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LectureInfo.LectureInfoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupMeeting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evaluation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attendance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
        
            <td>
                <a asp-action="Edit" asp-route-id="@item.LectureReviewId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LectureReviewId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LectureReviewId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
